@model PTHShopping.Models.Role

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h5 class="text-danger">Chắc chắn xóa quyền - @Model.RoleName?</h5>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên quyền
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
        <dt class="col-sm-2">
           Mô tả
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="RoleId" />
        <a class="btn text-primary" asp-action="Index"> &lt; Trở lại</a>|
        <input type="submit" value="Xóa" class="btn-danger btn-rounded btn btn-sm" /> 

    </form>
</div>
