@model PTHShopping.Models.Role

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h5 class="text-info"> Chi tiết quyền truy cập - @Model.RoleId</h5>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
          Tên quyền
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
        <dt class = "col-sm-2">
          Mô tả
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">&lt; Trở lại</a> |
    <a asp-action="Edit" asp-route-id="@Model.RoleId">Sửa</a>

</div>
