@model PTHShopping.Models.KhachHang
@using PTHShopping.Helper
@{
    var ID = ViewBag.TrungID;
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h5 class="text-info">Chỉnh sửa khách hàng</h5>
<hr />
<div class="row d-flex">
    <div class="col-md-12">
        <form asp-action="Edit" class="d-flex flex-wrap">
            <div class="col-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdkhachHang" />
                <input type="hidden" asp-for="LastLogin" />
                <div class="form-group">
                    <label asp-for="HoTen" class="control-label">Họ tên</label>
                    <input asp-for="HoTen" class="form-control" />
                    <span asp-validation-for="HoTen" class="text-danger"></span>
                    @if (ViewBag.nullHT != null)
                    {
                        <div class="text-danger">Họ tên không được trống </div>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="SinhNhat" class="control-label">Sinh nhật</label>
                    <input asp-for="SinhNhat" class="form-control" />
                    <span asp-validation-for="SinhNhat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                    <input asp-for="DiaChi" class="form-control" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Active" class="control-label">Active</label>
                    <select asp-for="Active" class="form-control">
                        <option>true</option>
                        <option>false</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sdt" class="control-label">Số điện thoại</label>
                    <input asp-for="Sdt" class="form-control" readonly />
                    <span asp-validation-for="Sdt" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="MatKhau" class="control-label">Mật khẩu (mã hóa)</label>
                    <input asp-for="MatKhau" class="form-control" readonly />
                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label  class="control-label">Đổi mật khẩu?</label>
                    <input class="form-control"  name="pass2"/> 
                </div>
                <div class="form-group" hidden>
                    <label asp-for="Salt" class="control-label"></label>
                    <input asp-for="Salt" class="form-control" readonly />
                    <span asp-validation-for="Salt" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input type="submit" value=" Lưu " class="btn-gradient-primary btn-rounded btn-sm btn">
                </div>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">&lt; Trở về</a>
</div>
